#result{
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 10px;
}
.resultDesc{
    font-size: 30px;
}
.resultname{
    font-size: 30px;
}