{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

<!doctype html>
<html lang="en">

<head>
    <title>자유게시판 - 게시글</title>
    <meta charset="utf-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <link rel="stylesheet" href="/static/css/style.css"> 
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style_rank.css" type="text/css">
</head>

<body>

    <!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6">
                  <div class="header__top__left">
                      <ul>
                                
                          
                      </ul>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="header__top__right">
                      <div class="header__top__right__social">
                          <a href="https://instagram.com/aivlestory?utm_medium=copy_link "><i class="fa fa-instagram fa-2x" aria-hidden= "true"></i></a>
                          <a href="https://classum.com/"><i class="fa fa-copyright fa-2x" aria-hidden="true"></i></a>
                          <a href="https://blog.naver.com/porory_rei"><i class="fa fa-bold fa-2x" aria-hidden="true"></i></a>
                          <a href="https://ktedu.kt.com/aivle/about.html"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
                      </div>
                      <div class="header__top__right__language">
                          <img src="img/language.png"alt="">
                          <div>AI 개발자</div>
                          <span class="arrow_carrot-down"></span>
                          <ul>
                              <li><a href="{% url 'main:index'%}">AI 개발자</a></li>
                              <li><a href="{% url 'main:index2'%}">DX 컨설턴트</a></li>
                          </ul>
                      </div>
          
                          {% if user.is_authenticated %}
                            
                          <div class="header__top__right__auth">
                              <a href="{% url 'userapp:login' %}"><i class="fa fa-user"></i> logout</a>
                          </div> 
                          
                          
                          

                          {% else %}
                          <div class="header__top__right__auth">
                              <a href="{% url 'userapp:login' %}"><i class="fa fa-user"></i> Login</a>
                          </div>
                          {% endif %}

                      
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="header__logo">
                  <a href="{% url 'main:index' %}"><img src="/static/img/aivle.PNG" class="mt-2"></a>
              </div>
          </div>
          <div class="col-lg-6">
              <nav class="header__menu">
                  <ul>
                      <li class="active"><a href="{% url 'main:index' %}">홈</a></li>
                      <li><a href="./shop-grid.html">채팅</a></li>
                      <li><a href="#">커뮤니티</a>
                          <ul class="header__menu__dropdown">
                              <li><a href="{% url 'board:index' %}">Q&A</a></li>
                              <li><a href="{% url 'freeboard:index' %}">자유게시판</a></li>
                              <li><a href="{% url 'blog:index' %}">정보방</a></li>
                          </ul>
                      </li>
                      <li><a href="{% url 'rank:rank1_100' %}">랭킹 TOP 100</a></li>
                      <li><a href="{% url 'study:studying' %}">학습</a></li>
                      <li><a href="/quiz/main">퀴즈</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3">
              <div class="header__cart">
                  <ul>
                    <a><i class="fa fa-user-circle fa-2x" aria-hidden= "true"></i></a>
                    <b>　{{user.username}}님</b>　 <b>score:</b> <span>{{user.score}}</span>
                  </ul>
                  
              </div>
          </div>
      </div>
      <div class="humberger__open">
          <i class="fa fa-bars"></i>
      </div>
  </div>
</header>
<!-- Header Section End -->

<div class="container my-3">
    <br>
    
    <br>
    
    <h3 class="border-bottom py-2"> <img src="/static/img/say.png"> <b>{{ freewrite.free_subject }}</b>
        <br>
    </h3>
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <b style='color: #000000'>
                작성자 ID : <b>{{ freewrite.username }}</b>
        </div>
    
        <div class="card-text" style="white-space: pre-line;">
            　{{ freewrite.free_content }}
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
    
    
                    {{ freewrite.free_pub_date }}
                    <br><br>
    
                </div>
               
            </div>
        </div>
       
    </div>
    <div style="float:right">
    <a href="{% url 'freeboard:update' freewrite.id %}" class="btn btn-primary">수정</a>
    <a href="{% url 'freeboard:delete' freewrite.id %}" class="btn btn-primary">삭제</a>
    </div>
    <br><br>
    <h4 class="border-bottom my-2 py-2">
        <div><img src="/static/img/reply.png"><b>
                등록된 댓글</div>
        </b>
    </h4>
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> <span
                    style="background: linear-gradient(to top, #FFE400 30%, transparent 70%)">{{freewrite.comment_set.count}}개</span>의
                댓글</h6>
        </div>
        <div class="card-body">
    
            <div>
    
            </div>
    
            {% for comment in freewrite.comment_set.all %}
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <b style='color: #FF1244'>
                        작성자 : {{ comment.username }} </b>
                        <a href="{% url 'freeboard:comment_delete' comment.id %}" class="btn btn-primary" style="float:right"onClick="alert('삭제되었습니다.')">삭제</a>
                </div>
    
                <div class="card-text" style="white-space: pre-line;">
                    　 {{ comment.comment_content }}
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <div class="badge badge-light p-2">
    
    
                            {{ comment.comment_create_date }}
                            <br><br>
    
                        </div>
    
                    </div>
                </div>
            </div>
            {% endfor %}
    <form action="{% url 'freeboard:comment_create' freewrite.id %}" method="post" class="my-3">
        {% csrf_token %}

        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->

        <div class="form-group">
            <textarea name="comment_content" id="comment_content" class="form-control" rows="10"></textarea>
        </div>
        <div style='text-align:right;'>
            <input type="submit" value="댓글등록" class="btn btn-primary">
            <a href="{% url 'freeboard:index' %}" class="btn btn-primary">
                목록으로
            </a>
            
        </div>
    </form>
    <br><br>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>