
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Youtube 강의실</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
       
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="/static/css/style.css"> 
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
         <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
         <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
         <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
         <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
         <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
         <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
         <link rel="stylesheet" href="/static/css/style_rank.css" type="text/css">
        
  
      
   <!-- Header Section Begin -->
   <header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                           
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="https://instagram.com/aivlestory?utm_medium=copy_link "target='_blank'><i class="fa fa-instagram fa-2x" aria-hidden= "true"></i></a>
                            <a href="https://classum.com/"target='_blank'><i class="fa fa-copyright fa-2x" aria-hidden="true"></i></a>
                            <a href="https://blog.naver.com/porory_rei"target='_blank'><i class="fa fa-bold fa-2x" aria-hidden="true"></i></a>
                            <a href="https://ktedu.kt.com/aivle/about.html"target='_blank'><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="img/language.png"alt="">
                            <div>AI 개발자</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">AI 개발자</a></li>
                                <li><a href="{% url 'main:index2'%}">DX 컨설턴트</a></li>
                            </ul>
                        </div>
            
                            {% if user.is_authenticated %}
                              
                            <div class="header__top__right__auth">
                                <a href="{% url 'userapp:logout' %}"><i class="fa fa-user"></i>logout</a>
                             
                            </div> 
                           
            

                            {% else %}
                            <div class="header__top__right__auth">
                                <a href="{% url 'userapp:login' %}"><i class="fa fa-user"></i> Login</a>
                            </div>
                            {% endif %}

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'main:index' %}"><img src="/static/img/aivle.PNG" class="mt-2"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{% url 'main:index' %}">홈</a></li>
                        <li><a href="{% url 'main:index' %}">채팅</a></li>
                        <li><a href="#">커뮤니티</a>
                            <ul class="header__menu__dropdown">
                               
                                <li><a href="{% url 'board:index' %}">Q&A</a></li>
                                <li><a href="{% url 'freeboard:index' %}">자유게시판</a></li>
                                <li><a href="{% url 'blog:index' %}">정보방</a></li>
                                
                            </ul>
                        </li>
                        <li><a href="{% url 'rank:rank1_100' %}">랭킹 TOP 100</a></li>
                        <li><a href="#">학습</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="{% url 'study:studying' %}">AIVLE 강의</a></li>
                                <li><a href="{% url 'youtubeboard:index' %}">YOUTUBE 강의</a></li>   
                        
                        </ul>
                        </li>      
                        <li><a href="/quiz/main">퀴즈</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <a><i class="fa fa-user-circle fa-2x" aria-hidden= "true"></i></a>
                        <b>　{{user.username}}님</b>　 <b>score:</b> <span>{{user.score}}</span>
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-primary text-dark position-absolute" style="top: 0.5rem; right: 0.5rem">기초</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/static/img/nado2.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">나도코딩</h5>
                                    <h6 class="fw-bolder">파이썬 코딩 무료 강의<br> (기본편) </h6>
                                    <!-- Product price-->
                                   
                                    약 6시간
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-danger mt-auto" target='_blank' href="https://www.youtube.com/watch?v=kWiCuklohdY&t=">보러가기</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-primary text-dark position-absolute" style="top: 0.5rem; right: 0.5rem">기초</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/static/img/joco2.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">조코딩</h5>
                                    <h6 class="fw-bolder">최신 파이썬 코딩 <br>무료 강의</h6>
                                    <!-- Product reviews-->
                                        
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through"></span>
                                    약 5시간
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-danger mt-auto" target='_blank' href="https://www.youtube.com/watch?v=KL1MIuBfWe0&">보러가기</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-warning text-dark position-absolute" style="top: 0.5rem; right: 0.5rem">코딩테스트</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/static/img/nadong.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">나동빈</h5>
                                    <h6 class="fw-bolder">이코테 2021 <br>강의 몰아보기</h6>
                                    
                                    <!-- Product price-->
                                    약 8시간 <br>
                                    10개의 동영상
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-danger mt-auto" target='_blank' href="https://www.youtube.com/watch?v=m-9pAwq1o3w&list=PLRx0vPvlEmdAghTr5mXQxGpHjWqSz0dgC">보러가기</a></div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">게임</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/static/img/joco.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">조코딩</h5>
                                    <h6 class="fw-bolder">무료 쉬운 게임 <br>개발 강의</h6>
                                    <!-- Product price-->
                                  
                                    약 3시간
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-danger mt-auto" target='_blank' href="https://www.youtube.com/watch?v=EqoU1PodQQ4">보러가기</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section-->
        <section class="py-0">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">깃허브</div>
                            <img class="card-img-top" src="/static/img/yalco.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">얄팍한 코딩사전</h5>
                                    <h6 class="fw-bolder">제대로 파는 Git & GitHub</h6>
                                    <!-- Product price-->
                                    약 2시간 30분
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-danger mt-auto" target='_blank' href="https://www.youtube.com/watch?v=1I3hMwQU6GU&t">보러가기</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-white text-dark position-absolute" style="top: 0.5rem; right: 0.5rem">이력서</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/static/img/sub.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">개발바닥</h5>
                                    <h6 class="fw-bolder">배달의민족 합격한<br> 신입 개발자 이력서</h6>
                
                                    <!-- Product price-->
                                    약 17분
                                    
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-0 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-info mt-auto" target='_blank' href="https://www.notion.so/wbluke/c47951185f404835a982ef97041e59fd">이력서</a></div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-danger mt-auto" target='_blank' href="https://www.youtube.com/watch?v=Yc56NpYW1DM">보러가기</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">기초</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/static/img/c.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">나도코딩</h5>
                                    <h6 class="fw-bolder">C 언어 무료 강의<br> (입문부터 게임 개발까지)</h6>
                                    <!-- Product price-->
                                    약 7시간
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-danger mt-auto" target='_blank' href="https://www.youtube.com/watch?v=q6fPjQAzll8">보러가기</a></div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">동기부여</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/static/img/baemin.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">eo</h5>
                                    <h6 class="fw-bolder">지방대 개발 비전공자가 배달의민족 리드<br> 개발자가 되기까지</h6>
                                    <!-- Product price-->
                                    약 11분
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-danger mt-auto" target='_blank' href="https://www.youtube.com/watch?v=V9AGvwPmnZU">보러가기</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <br><br><br><br><br>
    </body>
</html>
