{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">

    <title>LEVEL TEST</title>
    <link rel ="icon" type="image/x-icon" href="/static/img/ktlogo.ico">
    <meta name="viewport" content="width=device" ,initial-scale=1>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/default.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/qna.css'%}">
    <link rel="stylesheet" href="{% static 'css/result.css'%}">
    <link rel="stylesheet" href="{% static 'css/animation.css'%}">
</head>

<body>
    <div class="container">
       
        <section id="main" class="mx-auto mt-5 py-3 px-5">
            <h1></h1>
            <div class="col-lg-9 col-md-6 col-sm-6 col-12 mx-auto">
                <img src="/static/img/quizshow.png" class="img-fluid mt-4">
            </div>

        
           
           
         <div class="d-grid gap-2 col-8 mx-auto">
            <br>
           <button class="btn btn-primary mt-3" style="font-size:1.4em"  4px, onclick="js:begin()">시작하기</button>
            </div>
             <br>   <br>  <br> 
        </section>

        <section id=qna>
        <section id="main" class="mx-auto mt-5 py-4 px-5">
        
            <div class="status mx-auto mt-5">
                <div class="statusBar">

                </div>
            </div>
            <div class="qBox my-5 py-3 mx-auto">

            </div>
            <div class="answerBox my-5 py-3">

            </div>
        </section>
    </section>

        <section id=result class="mx-auto mt-5 py-5 px-3">
        <h1>  결과 </h1>
            <div class="resultname">

            </div>
            <div id="resultImg" class="col-lg-6 col-md-6 col-sm-6 col-12 mx-auto ">

             </div>
            <div class="resultDesc my-3 py-3">

            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" class="form-control" name='score' value="submit" id='mycount'>
                <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn-primary mt-3" style="font-size:1.4em"  onclick="location.href='/main/index'">내 SCORE에 저장하기</button>
                </div>
                
            </form>
           
        </section>
        <script src="{% static 'css/data.js'%}" charset="utf-8"></script>
        <script src="{% static 'css/start.js'%}" charset="utf-8"></script>
  
   
    <a style="display:scroll;position:fixed;top:30px;left:80px;"  href="{% url 'main:index' %}"  title="맨 위로">                             
    <img src="/static/img/back.png">
    </a>  



    </div>
</body>

</html>