<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KT AIVLE STUDY</title>
    <link rel ="icon" type="image/x-icon" href="/static/img/ktlogo.ico">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    
</head>







<body>
  
 <style>
        .dropbtn {
          background-color: #3498DB;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
        }
        
        .dropup {
          position: relative;
          display: inline-block;
        }
        
        .dropup-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          bottom: 50px;
          z-index: 1;
        }
        
        .dropup-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropup-content a:hover {background-color: #ccc}
        
        .dropup:hover .dropup-content {
          display: block;
        }
        
        .dropup:hover .dropbtn {
          background-color: #2980B9;
        }
        </style>

    
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://instagram.com/aivlestory?utm_medium=copy_link "target='_blank' ><i class="fa fa-instagram fa-2x" aria-hidden= "true"></i></a>
                                <a href="https://classum.com/"target='_blank' ><i class="fa fa-copyright fa-2x" aria-hidden="true"></i></a>
                                <a href="https://blog.naver.com/porory_rei"target='_blank' ><i class="fa fa-bold fa-2x" aria-hidden="true"></i></a>
                                <a href="https://ktedu.kt.com/aivle/about.html"target='_blank' ><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/language.png"alt="">
                                <div>AI 개발자</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="{% url 'main:index'%}">AI 개발자</a></li>
                                    <li><a href="{% url 'main:index2'%}">DX 컨설턴트</a></li>
                                </ul>
                            </div>
                
                                {% if user.is_authenticated %}
                                  
                                <div class="header__top__right__auth">
                                    <a href="{% url 'userapp:logout' %}"><i class="fa fa-user"></i>logout</a>
                                 
                                </div> 
                               
                

                                {% else %}
                                <div class="header__top__right__auth">
                                    <a href="{% url 'userapp:login' %}"><i class="fa fa-user"></i> Login</a>
                                </div>
                                {% endif %}
  
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'main:index' %}"><img src="/static/img/logo2.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'main:index' %}">홈</a></li>
                            <li><a href="/chat/chat_1">채팅</a></li>
                            <li><a href="#">커뮤니티</a>
                                <ul class="header__menu__dropdown">
                                   
                                    <li><a href="{% url 'board:index' %}">Q&A</a></li>
                                    <li><a href="{% url 'freeboard:index' %}">자유게시판</a></li>
                                    <li><a href="{% url 'blog:index' %}">정보방</a></li>
                                    
                                </ul>
                            </li>
                            <li><a href="{% url 'rank:rank1_100' %}">랭킹 TOP 100</a></li>
                            <li><a href="">학습</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="{% url 'study:studying' %}">AIVLE 강의</a></li>
                                    <li><a href="{% url 'youtubeboard:index' %}">YOUTUBE 강의</a></li>   
                                
                                </ul>
                            </li>                           
                            <li><a href="/quiz/main">퀴즈</a></li>
                        </ul>
                    </nav>
                </div>
                
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    
  <style>
    input[type="checkbox"] {
        display: none;
    }
 
    label {
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        border: solid 1px #ccc;
        transition: 0.25s;
        padding: 6px 18px;
        cursor: pointer;
        font-size: 14px;
        margin: -5px;
        
    }

    input[type="checkbox"]:checked + label {
        background: #00809d;
        color: #fff;
    }  
</style>
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
          
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">


                            <form method="post" action="{% url 'main:search' %}">
                                {% csrf_token %}
                                <div class="hero__search__categories">
                                    　 🔍 Question & Answer
                                </div>
                               
                                    <input type="text" name="search" placeholder="검색어를 입력하세요"><br>
                                    <button type="submit" class="site-btn" value="로그인">search</button>
                                
                            </form>
                        </div>
                      
                    </div>
                    <div class="hero__item set-bg" data-setbg="/static/img/aivleshedule.png"></div>
                        
                    </div>
                    <div >
                        
                    
                        

                        <div class="col-lg">
                     
                            <div class="hero__categories">
                           
                                <div class="header__cart ">
                                    <a><i class="fa fa-user-circle fa-2x" aria-hidden= "true"></i></a>
                                    <b>　{{user.fullname}}님</b>　<b>score:</b><span>{{user.score}}</span>　　
                                   
                                </div>
                           
                      
                           
                      
                            

                            <div class="hero__categories__all">
                                <i class="fa fa-trophy fa-2x"></i>
                                
                                <span>Total Rank</span>
                            </div>
                            <ul>
                            <li>{% for rank in rank_list %}
                                   {% if forloop.counter == 1 %}
                                        <li><img src="/static/img/crown1.png" alt=""> 　<b>{{ rank.username }} - {{ rank.score }}점</b> </li>
                                    {% elif forloop.counter == 2 %} 
                                        <li><img src="/static/img/crown2.png" alt=""> 　<b>{{ rank.username }} - {{ rank.score }}점</b> </li>
                                    {% elif forloop.counter == 3 %}
                                        <li><img src="/static/img/crown3.png" alt="">  　{{ rank.username }} - {{ rank.score }}점</b> </li>
                                    {% elif forloop.counter < 15 %}
                                        <li>{{forloop.counter}}위 - {{ rank.username }} - {{ rank.score }}점</li>
                                    {% else %}    
                                    {% endif%}
                                    <div class="col my-1">
                                    </div>
                                {% endfor %}
                            </li>
                             
                           
                        </ul>
                        </div>
                    </div>
                </div>
            </div>


                

            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <br><br>
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    
                  
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" >
                            <h1><a  href="{% url 'study:studying' %}"><img src="/static/img/PDF.png" width="100" height="150" alt=""></a></h1>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" >
                            <h1><a href="{% url 'youtubeboard:index'%}"><img src="/static/img/유튜브.png" width="100" height="150" alt=""></a></h1>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg">
                            <h1><a href="{% url 'freeboard:index' %}"><img src="/static/img/자유.png" width="100" height="150" alt=""></a></h1>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" >
                            <h4><a href="{% url 'board:index' %}"><img src="/static/img/QNA.png" width="100" height="150" alt=""></a></h4>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="categories__item set-bg"  >
                            <h1><a target='_blank' href="https://www.instagram.com/p/CZJVQ0UpHyE/?utm_source=ig_web_copy_link"><img src="/static/img/로고송.png" width="100" height="150"></a></h1>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Footer Section Begin -->
    <br><br><br>
    <hr>
    <!-- Related Blog Section Begin -->
    <section class="related-blog spad">
        <div class="container">
            <div class="row">
                
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-3 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <h5><a target='_blank' href="https://www.news2day.co.kr/article/20211213500249"><img src="/static/img/news1.jpg"alt=""></a></h5>
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> Dec 13,2021</li>
                                
                            </ul>
                            <h5><a target='_blank' href="https://www.news2day.co.kr/article/20211213500249">KT, AI 분야 청년 인재 직접 키운다…</a></h5>
                            <p>KT 에이블스쿨은 청년들의 취업 경쟁력 향상과 신산업 분야 일자리 생산을 목표로 고용노동부가 후원하는 청년 AI 인재양성 프로그램이다.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <h5><a target='_blank' href="https://www.yna.co.kr/view/AKR20220124045700017?input=1195m"><img src="/static/img/news2.jfif" alt=""></a></h5>
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> Jan 22,2022</li>
                                
                            </ul>
                            <h5><a target='_blank' href="https://www.yna.co.kr/view/AKR20220124045700017?input=1195m">과기부 "기업-대학 '청년미소'사업으로 SW인재 1천250명 양성"</a></h5>
                            <p>과기정통부는 지난해 6월부터 민·관 협력 기반 SW 인재양성 대책에 따라 기업-대학 협력형 SW 인재양성을 위한 '청년미소' 프로젝트를 추진하고 있다. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <h5><a  target='_blank' href="http://www.ksmnews.co.kr/default/index_view_page.php?idx=362912&part_idx=7"><img src="/static/img/news3.jpg" alt=""></a></h5>
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> Dec 27,2021</li>
                                
                            </ul>
                            <h5><a  target='_blank' href="http://www.ksmnews.co.kr/default/index_view_page.php?idx=362912&part_idx=7">6개 대기업 청년 일자리 18만개 창출</a></h5>
                            <p>지난 9월 KT를 시작으로 삼성, LG, SK, 포스코, 현대차 등 6개 기업이 참여했고, 이들 6개 기업은 2022년부터 2024년까지 3년 동안 모두 17만9만개의 일자리 창출, 청년을 위한 교육훈련 기회의 제공 등을 약속했다. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related Blog Section End -->
    
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="/static/img/aivle.PNG" class="mb-3"></a>
                        </div>
                        <ul>
                            <li><b>Address:</b> KT</li>
                            <li><b>Phone:</b> 100</li>
                            <li><b>Email:</b> kt@aivle.kt.co.kr</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 ">
                    <div class="footer__widget">
                        <h6>Developers Useful Links</h6>
                        <ul>
                            <li><a  target='_blank' href="https://github.com/"><img src="/static/vicon/깃허브.PNG">　GitHub</a></li>
                            <li><a  target='_blank' href="https://stackoverflow.com/"><img src="/static/vicon/스택.PNG">　stackoverflow</a></li>
                            <li><a  target='_blank' href="https://www.jumpit.co.kr/"><img src="/static/vicon/점프잇.PNG">　jumpit</a></li>
                            <li><a  target='_blank'href="https://www.acmicpc.net/"><img src="/static/vicon/백준.PNG">　BaekJoon</a></li>
                            <li><a  target='_blank'href="https://programmers.co.kr/"><img src="/static/vicon/프로그래머스.PNG">　programmers</a></li>
                            <li><a  target='_blank'href="https://kr.linkedin.com/"><img src="/static/vicon/링크드인.PNG">　Linkedin</a></li>
                        </ul>
                        <ul>
                            <li><a  target='_blank'href="https://aifb.kt.co.kr/main"><img src="/static/vicon/AIFB.ico">　AIFB</a></li>
                            <li><a  target='_blank'href="https://apilink.kt.co.kr/"><img src="/static/vicon/KT.PNG">　KT API Link</a></li>
                            <li><a  target='_blank'href="https://aiopen.etri.re.kr/"><img src="/static/vicon/AI.PNG">　ETRI AI API</a></li>
                            <li><a  target='_blank'href="https://developers.naver.com/main/"><img src="/static/vicon/네이버.png">　Naver Developers</a></li>
                            <li><a  target='_blank'href="https://developers.kakao.com/"><img src="/static/vicon/카카오.PNG">　Kakao Developers</a></li>
                            <li><a  target='_blank'href="https://developers.google.com/"><img src="/static/vicon/구글.PNG">　Google Developers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 offset-lg-1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.3147297485957!2d127.11266131526381!3d37.358729179837304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b59cd63fdd901%3A0x4fbb3a64ca6ee137!2zS1Qg67O47IKs!5e0!3m2!1sko!2skr!4v1643334811200!5m2!1sko!2skr" 
                    width="380" height="220" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div style="text-align:center">

                          
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> 충남/충북 1조 
                            <br>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>



</body>
</html>

