<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KT AIVLE STUDY</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style2.css" type="text/css">
    
</head>







<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="/static/img/logo2.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div></div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">DX 컨설턴트</a></li>
                    <li><a href="#">AI 개발자</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href=""><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">홈</a></li>
                <li><a href="./shop-grid.html">채팅</a></li>
                <li><a href="#">테스트</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">랭킹 TOP100</a></li>
                <li><a href="./contact.html">학습</a></li>
                <ul class="header__menu__dropdown">
                    
                </ul>
                <li><a href="./contact.html">커뮤니티</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://instagram.com/aivlestory?utm_medium=copy_link "><i class="fa fa-instagram fa-2x" aria-hidden= "true"></i></a>
            <a href="https://classum.com/"><i class="fa fa-copyright fa-2x" aria-hidden="true"></i></a>
            <a href="https://blog.naver.com/porory_rei"><i class="fa fa-bold fa-2x" aria-hidden="true"></i></a>
            <a href="https://ktedu.kt.com/aivle/about.html"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li>{{user.username}}님</li>
                
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
 <style>
        .dropbtn {
          background-color: #3498DB;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
        }
        
        .dropup {
          position: relative;
          display: inline-block;
        }
        
        .dropup-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          bottom: 50px;
          z-index: 1;
        }
        
        .dropup-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropup-content a:hover {background-color: #ccc}
        
        .dropup:hover .dropup-content {
          display: block;
        }
        
        .dropup:hover .dropbtn {
          background-color: #2980B9;
        }
        </style>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://instagram.com/aivlestory?utm_medium=copy_link "target='_blank' ><i class="fa fa-instagram fa-2x" aria-hidden= "true"></i></a>
                                <a href="https://classum.com/"target='_blank' ><i class="fa fa-copyright fa-2x" aria-hidden="true"></i></a>
                                <a href="https://blog.naver.com/porory_rei"target='_blank' ><i class="fa fa-bold fa-2x" aria-hidden="true"></i></a>
                                <a href="https://ktedu.kt.com/aivle/about.html"target='_blank' ><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/language.png"alt="">
                                <div>DX 컨설턴트</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="{% url 'main:index2'%}">DX 컨설턴트</a></li>
                                    <li><a href="{% url 'main:index'%}">AI 개발자</a></li>
                                </ul>
                            </div>
                
                                {% if user.is_authenticated %}
                                  
                                <div class="header__top__right__auth">
                                    <a href="{% url 'userapp:logout' %}"><i class="fa fa-user"></i>logout</a>
                                 
                                </div> 
                               
                

                                {% else %}
                                <div class="header__top__right__auth">
                                    <a href="{% url 'userapp:login2' %}"><i class="fa fa-user"></i> Login</a>
                                </div>
                                {% endif %}
  
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'main:index2' %}"><img src="/static/img/logo2.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'main:index2' %}">홈</a></li>
                            <li><a href="{% url 'main:index2' %}">채팅</a></li>
                            <li><a href="#">커뮤니티</a>
                                <ul class="header__menu__dropdown">
                                   
                                    <li><a href="{% url 'board:index2' %}">Q&A</a></li>
                                    <li><a href="./checkout.html">게시판</a></li>
                                    <li><a href="{% url 'blog:index2' %}">정보방</a></li>
                                    
                                </ul>
                            </li>
                            <li><a href="{% url 'rank:rank2_100' %}">랭킹 TOP 100</a></li>
                            <li><a href="">학습</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="{% url 'study:studying2' %}">AIVLE 강의</a></li>
                                    <li><a href="{% url 'youtubeboard:index2' %}">YOUTUBE 강의</a></li>   
                                
                                </ul>
                            </li>                           
                            <li><a href="/quiz/main2">퀴즈</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <div class="header__cart">
             
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    
  <style>
    input[type="checkbox"] {
        display: none;
    }
 
    label {
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        border: solid 1px #ccc;
        transition: 0.25s;
        padding: 6px 18px;
        cursor: pointer;
        font-size: 14px;
        margin: -5px;
        
    }

    input[type="checkbox"]:checked + label {
        background: #00809d;
        color: #fff;
    }  
</style>
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
          
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">


                            <form method="post" action="{% url 'main:search' %}">
                                {% csrf_token %}
                                <div class="hero__search__categories">
                                    　 🔍 Question & Answer
                                </div>
                               
                                    <input type="text" name="search" placeholder="검색어를 입력하세요"><br>
                                    <button type="submit" class="site-btn" value="로그인">search</button>
                                
                            </form>
                        </div>
                      
                    </div>
                    <div class="hero__item set-bg" data-setbg="/static/img/aivleshedule2.png"></div>
                        
                    </div>
                    <div >
                        <a><i class="fa fa-user-circle fa-2x" aria-hidden= "true"></i></a>
                        <b>　{{user.username}}님</b>　 <b>score:</b> <span>{{user.score}}</span>
                    
                        

                    <div class="col-lg">
                        <div class="hero__categories">
                          
                            
                            <br>
                            

                            <div class="hero__categories__all">
                                <i class="fa fa-trophy fa-2x"></i>
                                
                                <span>Total Rank</span>
                            </div>
                            <ul>
                            <li>{% for rank in rank_list %}
                                   {% if forloop.counter == 1 %}
                                        <li><img src="/static/img/crown1.png" alt=""> - {{ rank.username }} -Score: {{ rank.score }}</li>
                                    {% elif forloop.counter == 2 %}
                                        <li><img src="/static/img/crown2.png" alt=""> - {{ rank.username }} -Score: {{ rank.score }}</li>
                                    {% elif forloop.counter == 3 %}
                                        <li><img src="/static/img/crown3.png" alt=""> - {{ rank.username }} -Score: {{ rank.score }}</li>
                                    {% elif forloop.counter < 15 %}
                                        <li>{{forloop.counter}}등 - {{ rank.username }}-Score: {{ rank.score }}　　</li>
                                    {% else %}    
                                    {% endif%}
                                    <div class="col my-1">
                                    </div>
                                {% endfor %}
                            </li>
                             
                           
                        </ul>
                        </div>
                    </div>
                </div>
            </div>


                

            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <br><br>
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/static/img/categories/ai1.png">
                            <h5><a href="#"></a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg"  data-setbg="/static/img/categories/ai2.png">
                            <h5><a href="#"></a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg"  data-setbg="/static/img/categories/ai3.png">
                            <h5><a href="#"></a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg"  data-setbg="/static/img/categories/ai3.png">
                            <h5><a href="#"></a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg"  data-setbg="/static/img/categories/ai5.png">
                            <h5><a href="#"></a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Footer Section Begin -->
    <br><br><br>
    <hr>
    <!-- Related Blog Section Begin -->
    <section class="related-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related-blog-title">
                       
                        <h2>Dreams Come True</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Cooking tips make cooking simple</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/blog-3.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Visit the clean farm in the US</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related Blog Section End -->
    
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="/static/img/aivle.PNG" class="mb-3"></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>



</body>
</html>


