<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
   
    <link rel="stylesheet" href="/static/css/style2.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="/static/img/logo2.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>DX 컨설턴트</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">DX 컨설턴트</a></li>
                    <li><a href="#">AI 개발자</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'main:index2' %}">홈</a></li>
                <li><a href="./shop-grid.html">채팅</a></li>
                <li><a href="#">테스트</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">랭킹 TOP100</a></li>
                <li><a href="./contact.html">학습</a></li>
                <li><a href="./contact.html">커뮤니티</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://instagram.com/aivlestory?utm_medium=copy_link "><i class="fa fa-instagram fa-2x" aria-hidden= "true"></i></a>
            <a href="https://classum.com/"><i class="fa fa-copyright fa-2x" aria-hidden="true"></i></a>
            <a href="https://blog.naver.com/porory_rei"><i class="fa fa-bold fa-2x" aria-hidden="true"></i></a>
            <a href="https://ktedu.kt.com/aivle/about.html"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
               
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li>{{user.username}} 에이블러님 반갑습니다 !!</li>   
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://instagram.com/aivlestory?utm_medium=copy_link "target='_blank' ><i class="fa fa-instagram fa-2x" aria-hidden= "true"></i></a>
                                <a href="https://classum.com/"target='_blank' ><i class="fa fa-copyright fa-2x" aria-hidden="true"></i></a>
                                <a href="https://blog.naver.com/porory_rei"target='_blank' ><i class="fa fa-bold fa-2x" aria-hidden="true"></i></a>
                                <a href="https://ktedu.kt.com/aivle/about.html"target='_blank' ><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/language.png"alt="">
                                <div>DX 컨설턴트</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">DX 컨설턴트</a></li>
                                    <li><a href="{% url 'main:index'%}">AI 개발자</a></li>
                                </ul>
                            </div>
                            {% if user.is_authenticated %}
                                  
                            <div class="header__top__right__auth">
                                <a href="{% url 'userapp:logout' %}"><i class="fa fa-user"></i>logout</a>
                             
                            </div> 
                           
            

                            {% else %}
                            <div class="header__top__right__auth">
                                <a href="{% url 'userapp:login2' %}"><i class="fa fa-user"></i> Login</a>
                            </div>
                            {% endif %}
                            
                            <div class="header__top__right__auth">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'main:index2' %}"><img src="/static/img/logo2.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'main:index2' %}">홈</a></li>
                            <li><a href="./shop-grid.html">채팅</a></li>
                            <li><a href="#">커뮤니티</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">자유게시판</a></li>
                                    <li><a href="{% url 'board:index2 %">Q&A</a></li>
                                    <li><a href="./checkout.html">게시판</a></li>
                                    <li><a href="{% url 'blog:index2' %}">정보방</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'rank:rank2_100' %}">랭킹 TOP 100</a></li>
                            <li><a href="">학습</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="{% url 'study:studying2' %}">AIVLE 강의</a></li>
                                <li><a href="{% url 'youtubeboard:index' %}">YOUTUBE 강의</a></li>   
                            
                                </ul>
                            </li>
                            <li><a href="/quiz/main2">퀴즈</a></li>
                            
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-rss"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-desktop"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-trophy fa-2x"></i>
                            <span>Total Rank</span>
                        </div>
                        <ul>
                            <li>{% for rank in rank_list %}
                                {% if forloop.counter == 1 %}
                                     <li><img src="/static/img/gold.png" alt="">  {{ rank.username }} / {{ rank.score }}</li>
                                 {% elif forloop.counter == 2 %}
                                     <li><img src="/static/img/silver.png" alt="">  {{ rank.username }} / {{ rank.score }}</li>
                                 {% elif forloop.counter == 3 %}
                                     <li><img src="/static/img/bronze.png" alt="">  {{ rank.username }} / {{ rank.score }}</li>
                                 {% else %}
                                     <li> {{forloop.counter}} / {{ rank.username }} / {{ rank.score }}</li>
                                 {% endif%}
                             {% endfor %}
                         </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <head>
                                    <meta charset="utf-8" />
                                    <title>datalist 태그</title>
                                    </head>
                                <input type="text"list="disneyCharacterList" placeholder="What do yo u need?">
                                <datalist id="disneyCharacterList">
                                    <option value="python">python</option>
                                    <option value="파이썬">파이썬</option>
                                    <option value="알고리즘">알고리즘</option>
                                    <option value="AWS">AWS</option>
                                    <option value="스터디 구합니다">스터디 구합니다</option>
                                    <option value="anaconda">anaconda</option>
                                    <option value="jupyter notebook">jupyter notebook</option>
                                    <option value="파이썬 기초문법">파이썬 기초문법</option>
                                    <option value="파이썬 알고리즘">파이썬 알고리즘</option>
                                    <option value="파이썬 데이터 분석">파이썬 데이터 분석</option>
                                    <option value="django">django</option>
                                </datalist>
                                <button type="submit" class="site-btn2">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>KTAIVLE@kt.com</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="/static/img/aivleshedule2.png">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/static/img/categories/ai1.png">
                            <h5><a href="#"></a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/static/img/categories/ai2.png">
                            <h5><a href="#"></a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/static/img/categories/ai3.png">
                            <h5><a href="#"></a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/static/img/categories/ai4.png">
                            <h5><a href="#"></a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/static/img/categories/ai5.png">
                            <h5><a href="#"></a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    

   

    
    

    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>



</body>

</html>