{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <title>aivler's ranking</title>
    <link rel ="icon" type="image/x-icon" href="/static/img/ktlogo.ico">
    <meta charset="utf-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
   <link rel="stylesheet" href="/static/css/style2.css"> 
   <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style_rank2.css" type="text/css">
   

   

   </head>
   <body>

   <!-- Header Section Begin -->
   <header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                           
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="https://instagram.com/aivlestory?utm_medium=copy_link "target='_blank' ><i class="fa fa-instagram fa-2x" aria-hidden= "true"></i></a>
                            <a href="https://classum.com/"target='_blank' ><i class="fa fa-copyright fa-2x" aria-hidden="true"></i></a>
                            <a href="https://blog.naver.com/porory_rei"target='_blank' ><i class="fa fa-bold fa-2x" aria-hidden="true"></i></a>
                            <a href="https://ktedu.kt.com/aivle/about.html"target='_blank' ><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="img/language.png"alt="">
                            <div>DX 컨설턴트</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="{% url 'rank:rank2_100'%}">DX 컨설턴트</a></li>
                                <li><a href="{% url 'rank:rank1_100'%}">AI 개발자</a></li>
                            </ul>
                        </div>
            
                            {% if user.is_authenticated %}
                              
                            <div class="header__top__right__auth">
                                <a href="{% url 'userapp:logout' %}"><i class="fa fa-user"></i>logout</a>
                             
                            </div> 
                           
            

                            {% else %}
                            <div class="header__top__right__auth">
                                <a href="{% url 'userapp:login2' %}"><i class="fa fa-user"></i> Login</a>
                            </div>
                            {% endif %}

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'main:index2' %}"><img src="/static/img/logo2.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{% url 'main:index2' %}">홈</a></li>
                        <li><a href="/chat/chat_1">채팅</a></li>
                        <li><a href="#">커뮤니티</a>
                            <ul class="header__menu__dropdown">
                               
                                <li><a href="{% url 'board:index2' %}">Q&A</a></li>
                                <li><a href="{% url 'freeboard:index2' %}">자유게시판</a></li>
                                <li><a href="{% url 'blog:index2' %}">정보방</a></li>
                                
                            </ul>
                        </li>
                        <li><a href="{% url 'rank:rank2_100' %}">랭킹 TOP 100</a></li>
                        <li><a href="">학습</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="{% url 'study:studying2' %}">AIVLE 강의</a></li>
                                <li><a href="{% url 'youtubeboard:index2' %}">YOUTUBE 강의</a></li>   
                            
                                </ul>
                            </li>
                        <li><a href="/quiz/main2">퀴즈</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <a><i class="fa fa-user-circle fa-2x" aria-hidden= "true"></i></a>
                        <b>　{{user.username}}님</b>　 <b>score:</b> <span>{{user.score}}</span>
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->


<section class="ftco-section">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">

             <h3 class="heading-section">👑 AIVLER'S RANK 👑</h3>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="table-wrap">
                <table class="table">
                  <thead class="thead-primary">
                    <tr>
                      <th>Rank</th>
                      <th>계급</th>
                      <th>ID</th>
                      <th>NAME</th>
                      <th>SCORE</th>
                    </tr>
                  </thead>
                  <tbody>
                   
                   {% for rank in rank_list %}
                   {% if rank.score > 50 %}
                   <tr>
                   <th scope="row">　{{forloop.counter}}</th>
                   <td><img src="/static/images/user4.png" alt=""></td>
                   <td><b> {{rank.username}}</b> </td>
                   <td> <span style="background: linear-gradient(to top, #FF5E00 30%, transparent 30%)"> <b>{{rank.fullname}}</b> </span> </td>
                   <td><b> 　{{rank.score}}</b> </td>  
                   </tr>
                   {% elif rank.score > 30 %}
                   <tr>
                      <th scope="row">　{{forloop.counter}}</th>
                      <td><img src="/static/images/user3.png" alt=""></td>
                      <td> <b>{{rank.username}} </b> </td>
                      <td> <span style="background: linear-gradient(to top, #FFBB00 30%, transparent 30%)"><b>{{rank.fullname}} </b> </span></td>
                      <td> <b>　{{rank.score}} </b></td> 
                  </tr>
                  {% elif rank.score > 20 %}
                  <tr>
                      <th scope="row">　{{forloop.counter}}</th>
                      <td><img src="/static/images/user2.png" alt=""></td>
                      <td> <b>{{rank.username}}</b> </td>
                      <td> <span style="background: linear-gradient(to top, #FFE400 30%, transparent 30%)"><b>{{rank.fullname}} </b> </span></td>
                      <td> <b>　{{rank.score}}</b> </td>  
                      </tr>
                   {% else %} 
                   <tr>
                      <th scope="row">　{{forloop.counter}}</th>
                      <td><img src="/static/images/user1.png" alt=""></td>
                      <td> {{rank.username}} </td>
                      <td> {{rank.fullname}} </td>
                      <td> 　{{rank.score}} </td>  
                      </tr>
                      {%endif%}
                   {% endfor %}
                    
                  </tbody>
                </table>
             </div>
          </div>
       </div>
    </div>
 </section>

   <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/main.js"></script>

   </body>
</html>
